{% extends "base.html" %}
{% block title %}Vendas{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'vendas:edit' venda.id %}" class="d-flex flex-column p-1 m-1">

        <div class="mb-3">
            <label for="produto">Produto</label>
            <select name="produto" id="produto" class="form-control">
            {% for produto in produtos %}
                {% if produto == venda.produto %}
                    <option value="{{ produto.id }}" selected>{{ produto.nome }}</option>
                {% else %}
                    <option value="{{ produto.id }}">{{ produto.nome }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="cliente">Clientes</label>
            <select name="cliente" id="cliente" class="form-control">
            {% for cliente in clientes %}
                {% if cliente == venda.cliente %}
                    <option value="{{ cliente.cpf }}" selected>{{ cliente.nome }}</option>
                {% else %}
                    <option value="{{ cliente.cpf }}">{{ cliente.nome }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>


        <div class="mb-3">
            <label for="quantidade" class="form-label">quantidade</label>
            <input type="number" name="quantidade" placeholder="quantidade"  class="form-control" id="quantidade" value="{{ venda.quantidade }}" required>
        </div>

        {% csrf_token %}

        <input type="submit" value="REGISTRAR" class="btn btn-primary">
    </form>
{% endblock %}