{% extends "base.html" %}
{% block title %}Vendas{% endblock %}

{% block content %}

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Delete</th>
                <th>Editar</th>
            </tr>
        </thead>
    <tbody>
    {% for venda in vendas %}
        <tr>
            <td>{{ venda.cliente.nome }}</td>
            <td>{{ venda.produto.nome }}</td>
            <td>{{ venda.quantidade }}</td>
            <td>{{ venda.get_total }}</td>
            <td> <a href="{% url "vendas:delete_form" venda.id %}" class="btn btn-danger"> EXCLUIR</a> </td>
            <td> <a href="{% url "vendas:edit_form" venda.id %}"   class="btn btn-primary"> EDITAR</a> </td>
        </tr>
    {% endfor %}

     <tr>
        <td colspan="6"> <a href={% url "vendas:add_form" %}>CADASTRAR NOVA VENDA</a> </td>
     </tr>

    </tbody>
    </table>

{% endblock %}