{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <h2 class="text-center">Cadastrar um produto</h2>
    <form action={% url "loja:add" %} method="post" id="formularioCadastroProduto" class="d-flex align-items-center flex-column Form-with-input-BRL">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do produto</label>
            <input type="text" name="nome" placeholder="Ex.: Celular Marca Tal"  class="form-control" id="nome" required>
        </div>

        <div class="mb-3">
            <label for="preco">Preço do produto</label>
            <input type="text" name="preco" value="0" placeholder="Ex.: R$ 2.000,00" class="form-control input-BRL" required>
        </div>
        
        <input type="submit" value="CADASTRAR" class="btn btn-primary">

        <a href="{% url "loja:index" %}" class="btn btn-primary mt-4">voltar</a>

        {% csrf_token %}
    </form>

{% endblock %}