{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    <h2 class="text-center">Deletar este produto?</h2>

    <form action={%  url "loja:delete" produto.id %} method="post" id="formularioCadastroProduto" class="d-flex align-items-center flex-column">
        <p class="center"> Excluir {{ produto.nome }}, custando {{ produto.preco_formatado }}?</p>
        
        <div>
            <input type="submit" value="DELETAR" class="btn btn-danger">
        </div>

        <a href="{% url "loja:index" %}" class="btn btn-primary mt-4">voltar</a>
        
        {% csrf_token %}
    </form>

{% endblock %}